 <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://www.viator.com/favicon.ico" alt="Logo" width="30">
                Viator
            </a>
            <!-- Mục dropdown hàng trên -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://www.viator.com/favicon.ico" alt="User" width="30">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                    <li><a class="dropdown-item" href="#">Log in / Sign up</a></li>
                    <li><a class="dropdown-item" href="#">Viator Rewards</a></li>
                    <li><a class="dropdown-item" href="#">Wishlists</a></li>
                    <li><a class="dropdown-item" href="#">Help</a></li>
                </ul>
            </div>
            <!-- Các mục dropdown di chuyển xuống hàng dưới -->
            <div class="w-100 mt-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row justify-content-around">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="topActivities" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Top activities
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="topActivities">
                            <li><a class="dropdown-item" href="#">Activity 1</a></li>
                            <li><a class="dropdown-item" href="#">Activity 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="topLandmarks" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Top landmarks
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="topLandmarks">
                            <li><a class="dropdown-item" href="#">Landmark 1</a></li>
                            <li><a class="dropdown-item" href="#">Landmark 2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="exploreWorld" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Explore the world
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="exploreWorld">
                            <li><a class="dropdown-item" href="#">World 1</a></li>
                            <li><a class="dropdown-item" href="#">World 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>