<nav class="navbar navbar-light">
    <div class="container mb-2">
        <a class="navbar-brand" href="/">
            <img src="https://www.Viator.com/favicon.ico" alt="Logo" width="30">
            VTour
        </a>
        <!-- User menu -->
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="https://www.Viator.com/favicon.ico" alt="User" width="30">
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                {{#if userName}}
                    <li><a class="dropdown-item" href="/my-account">My Account</a></li>
                {{else}}
                    <li><a class="dropdown-item" href="/auth/login">Log in / Sign up</a></li>
                {{/if}}
                <li><a class="dropdown-item" href="/tour/list">Tours</a></li>
                <li><a class="dropdown-item" href="/provider/list">Providers</a></li>
                <li><a class="dropdown-item" href="/about-us">About-us</a></li>
            </ul>
        </div>
    </div>
    <div style="position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background-color: #ccc;"></div>
</nav>